%article.video_category
  %header
    %h3 Category Place Holder
  .videos.row
    - @videos.each do |video|
      .video.col-sm-2
        = link_to  video do
          = image_tag("#{video.url_small_cover}")

