%article.video
  .container
    .row
      .col-sm-7.col-sm-offset-1
        = image_tag("#{video.url_large_cover}")
      .col-sm-3
        %header
          %h3 Heading Placeholder
          %span Rating: placeholder
        %p description placeholder a;dslkjf;asldkjf;alskdfj;alskdfj;alsdkfj;laskdf
        .actions
          %a.btn.btn-primary(href="") Watch Now Placeholder
          %a.btn.btn-default(href="") + My Queue Placeholder

